<% categories.forEach(category => { %>
    <section class="otmctn">
        <h2><%= category.categoryName %></h2>
        <div class="meal-kits-grid">
            <% category.mealKits.forEach(mealkit => { %>
                <%- include('../partials/mealkit', { mealkit: mealkit }) %>
            <% }); %>
        </div>
    </section>
<% }); %>