<div class="wlcmctn">
    <h1>Welcome to FlavorFare Direct</h1>
    <p>Get started and have ready-to-eat meals at your table.</p>
</div>
<div class="instructions">
    <div class="instructheader">
        <h1>How It Works</h1>
    </div>
    <div class="instructctn">
        <div class="instruct">
            <img src="/images/foodvar.jpg" alt="food variety">
            <h2>1. Delight your taste buds</h2>
            <p>Choose from a diverse selection of meals to find what suits your taste.</p>
        </div>
        <div class="instruct">
            <img src="/images/preptable.jpg" alt="food box">
            <h2>2. Dinner's on the table, fast</h2>
            <p>Enjoy quick and easy meal prep with out ready-to-eat options.</p>
        </div>
        <div class="instruct">
            <img src="/images/calendar.jpg" alt="calendar">
            <h2>3. Enjoy the ease of flexibility</h2>
            <p>Customize your meal plans and delivery schedules to fit your lifestyle.</p>
        </div>
    </div>
</div>